doctype html
//if IE 9
  html.no-js.lt-ie10  
// [if gt IE 9] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    title AppUI Frontend - Responsive Bootstrap Site Template
    meta(name='description', content='AppUI Frontend is a Responsive Bootstrap Site Template created by pixelcave and added as a bonus in AppUI Admin Template package')
    meta(name='author', content='pixelcave')
    meta(name='robots', content='noindex, nofollow')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1.0')
    // Icons
    // The following icons can be replaced with your own, they are used by desktop and mobile browsers
    link(rel='shortcut icon', href='img/favicon.png')
    link(rel='apple-touch-icon', href='img/icon57.png', sizes='57x57')
    link(rel='apple-touch-icon', href='img/icon72.png', sizes='72x72')
    link(rel='apple-touch-icon', href='img/icon76.png', sizes='76x76')
    link(rel='apple-touch-icon', href='img/icon114.png', sizes='114x114')
    link(rel='apple-touch-icon', href='img/icon120.png', sizes='120x120')
    link(rel='apple-touch-icon', href='img/icon144.png', sizes='144x144')
    link(rel='apple-touch-icon', href='img/icon152.png', sizes='152x152')
    link(rel='apple-touch-icon', href='img/icon180.png', sizes='180x180')
    // END Icons
    // Stylesheets
    // Bootstrap is included in its original form, unaltered
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // Related styles of various icon packs and plugins
    link(rel='stylesheet', href='css/plugins.css')
    // The main stylesheet of this template. All Bootstrap overwrites are defined in here
    link(rel='stylesheet', href='css/main.css')
    // The themes stylesheet of this template (for using specific theme color in individual elements - must included last)
    link(rel='stylesheet', href='css/themes.css')
    // END Stylesheets
    // Modernizr (browser feature detection library)
    script(src='js/vendor/modernizr-2.8.3.min.js')
  body
    // Page Container
    #page-container
      // Site Header
      header
        .container
          // Site Logo
          a.site-logo(href='index.html')
            i.fa.fa-cube
            |  App
            strong UI
          // END Site Logo
          // Site Navigation
          nav
            // Menu Toggle
            // Toggles menu on small screens
            a.btn.btn-default.site-menu-toggle.visible-xs.visible-sm(href='javascript:void(0)')
              | Menu
            // END Menu Toggle
            // Main Menu
            ul.site-nav
              li
                a(href='index.html') Welcome
              li
                a.active(href='features.html') Features
              li
                a(href='pricing.html') Pricing
              li
                a(href='contact.html') Contact
              li
                a.site-nav-sub(href='javascript:void(0)')
                  i.fa.fa-angle-down.site-nav-arrow
                  | Pages
                ul
                  li
                    a(href='blog.html') Blog
                  li
                    a(href='blog_post.html') Blog Post
                  li
                    a(href='portfolio.html') Portfolio
                  li
                    a(href='project.html') Project
                  li
                    a(href='team.html') Team
                  li
                    a(href='faq.html') FAQ
                  li
                    a(href='jobs.html') Jobs
                  li
                    a(href='search_results.html') Search Results
              li
                a.featured(href='http://pixelcave.com/demo/appui')
                  | Get Started 
                  i.fa.fa-arrow-right
            // END Main Menu
          // END Site Navigation
      // END Site Header
      // Intro
      section.site-section.site-section-top.site-section-light.themed-background-dark
        .container
          h1.text-center.animation-fadeInQuickInv
            strong The best features in one template.
      // END Intro
      // Features #1
      section.site-content.site-section.border-bottom
        .container.text-center
          .row.row-items
            .col-sm-4
              a.feature.visibility-none.themed-background-danger(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.fa.fa-fire
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong Bootstrap Powered
                p.feature-text.text-muted
                  | Bootstrap is a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development. 
                  strong AppUI
                  |  was built on top, extending it to a large degree.
            .col-sm-4
              a.feature.visibility-none.themed-background-success(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.gi.gi-pizza
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong 1200+ Font Based Icons
                p.feature-text.text-muted
                  | With so many unique icons included in 
                  strong AppUI
                  | , you don&apos;t have to worry about running out. Let&apos;s not talk about possible color and size variations.
            .col-sm-4
              a.feature.visibility-none.themed-background-info(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.fa.fa-book
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong Documentation Included
                p.feature-text.text-muted
                  strong AppUI
                  |  comes packed with a great documentation which covers all the basics to get you familiar with template&apos;s structure, files and plugins. It is the best way to get started.
      // END Features #1
      // Features #2
      section.site-content.site-section.border-bottom
        .container.text-center
          .row.row-items
            .col-sm-4
              a.feature.visibility-none.themed-background-amethyst(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.gi.gi-eye_open
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong Retina Ready
                p.feature-text.text-muted
                  | It will look crispy clear on high resolution screens and at the same time it will serve your high quality images as required.
            .col-sm-4
              a.feature.visibility-none.themed-background-flat(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.fa.fa-code
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong Clean &amp; Commented Code
                p.feature-text.text-muted
                  | The code is created with the developer in mind. It is clean, easy to follow, easy to replicate and at the same time well commented, so that you never feel lost.
            .col-sm-4
              a.feature.visibility-none.themed-background-passion(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.gi.gi-iphone_shake
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong Fully Responsive
                p.feature-text.text-muted
                  | The User Interface will adjust to any screen size. It will look great on mobile devices and on desktops at the same time. No need to worry about the UI, just stay focused on the development.
      // END Features #2
      // Features #3
      section.site-content.site-section.border-bottom
        .container.text-center
          .row.row-items
            .col-sm-4
              a.feature.visibility-none.themed-background-warning(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.gi.gi-brush
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong 7 Colors Themes
                p.feature-text.text-muted
                  strong AppUI
                  |  features 7 carefully chosen and integrated color themes to choose from (with 2 header &amp; sidebar color variations each). It&apos;s like getting a new template every time you change the active color theme.
            .col-sm-4
              a.feature.visibility-none.themed-background-info(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.gi.gi-electricity
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong Flexible Layout
                p.feature-text.text-muted
                  | Create the layout you want for your project in seconds. Would you like a static layout? A fixed header and sidebars? A fixed footer? An alternative sidebar? You can have it!
            .col-sm-4
              a.feature.visibility-none.themed-background-classy(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.fa.fa-cogs
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong Awesome Components
                p.feature-text.text-muted
                  strong AppUI
                  |  comes packed with so many awesome components. Calendar, CSS3 Animations, Form Wizards, Form Validation and Charts are only a small portion of them.
      // END Features #3
      // Features #4
      section.site-content.site-section
        .container.text-center
          .row.row-items
            .col-sm-4
              a.feature.visibility-none.themed-background-success(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.fa.fa-check
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong Saves you time
                p.feature-text.text-muted
                  | Time is of vital importance. 
                  strong AppUI
                  |  will save you hundreds of hours of extra development. Start right away coding your functionality and see your project come to life months sooner.
            .col-sm-4
              a.feature.visibility-none.themed-background(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.gi.gi-globe_af
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong Cross Browser Support
                p.feature-text.text-muted
                  strong AppUI
                  |  will play nice with all modern browsers such as Chrome, Firefox, Safari, Opera and the latest versions of Internet Explorer (IE9 and up).
            .col-sm-4
              a.feature.visibility-none.themed-background-social(href='javascript:void(0)', data-toggle='animation-appear', data-animation-class='animation-fadeInQuickInv', data-element-offset='-100')
                i.gi.gi-iphone
              .visibility-none(data-toggle='animation-appear', data-animation-class='animation-fadeInQuick2Inv', data-element-offset='-100')
                h4.site-heading.feature-heading
                  strong Mobile First
                p.feature-text.text-muted
                  | The layout adjusts as we move up from mobile devices to large desktop screens and not the other way around. This speed things up a lot.
      // END Features #4
      // Quick Stats
      section.site-content.site-section.themed-background-dark
        .container
          // Stats Row
          // CountTo (initialized in js/app.js), for more examples you can check out https://github.com/mhuggins/jquery-countTo
          .row
            .col-sm-4
              .counter.site-block
                span(data-toggle='countTo', data-to='2120', data-after='+')
                small Sales
            .col-sm-4
              .counter.site-block
                span(data-toggle='countTo', data-to='530', data-after='+')
                small Services
            .col-sm-4
              .counter.site-block
                span(data-toggle='countTo', data-to='3200', data-after='+')
                small Projects
          // END Stats Row
      // END Quick Stats
      // Sign Up Action
      section.site-content.site-section
        .container
          h2.site-heading.text-center
            | Sign up today and receive 
            strong 30% discount
            | !
          .site-block.text-center
            form.form-inline(action='features.html', method='post', onsubmit='return false;')
              .form-group
                label.sr-only(for='register-username') Username
                input#register-username.form-control.input-lg(type='text', name='register-username', placeholder='Choose a username..')
              .form-group
                label.sr-only(for='register-password') Password
                input#register-password.form-control.input-lg(type='password', name='register-password', placeholder='..and a password!')
              .form-group
                button.btn.btn-lg.btn-success(type='submit') Get Started!
      // END Sign Up Action
      // Footer
      footer.site-footer.site-section.site-section-light
        .container
          // Footer Links
          .row
            .col-sm-4
              h4.footer-heading Company
              ul.footer-nav.ul-breath.list-unstyled
                li
                  a(href='javascript:void(0)') About Us
                li
                  a(href='javascript:void(0)') Our Team
                li
                  a(href='javascript:void(0)') Memberships
                li
                  a(href='javascript:void(0)') Terms &amp; Conditions
                li
                  a(href='javascript:void(0)') Privacy Policy
            .col-sm-4
              h4.footer-heading Need support?
              ul.footer-nav.footer-nav-links.list-inline
                li
                  a(href='javascript:void(0)')
                    i.fa.fa-fw.fa-book
                    |  Knowledge Base
                li
                  a(href='javascript:void(0)')
                    i.fa.fa-fw.fa-support
                    |  FAQ
              h4.footer-heading We are social!
              ul.footer-nav.footer-nav-links.list-inline
                li
                  a.social-facebook(href='javascript:void(0)', data-toggle='tooltip', title='Like our Facebook page')
                    i.fa.fa-fw.fa-facebook
                li
                  a.social-twitter(href='javascript:void(0)', data-toggle='tooltip', title='Follow us on Twitter')
                    i.fa.fa-fw.fa-twitter
                li
                  a.social-google-plus(href='javascript:void(0)', data-toggle='tooltip', title='Like our Google+ page')
                    i.fa.fa-fw.fa-google-plus
                li
                  a.social-dribbble(href='javascript:void(0)', data-toggle='tooltip', title='Follow us on Dribbble')
                    i.fa.fa-fw.fa-dribbble
                li
                  a.social-youtube(href='javascript:void(0)', data-toggle='tooltip', title='Subscribe to our Youtube channel')
                    i.fa.fa-fw.fa-youtube-play
            .col-sm-4
              h4.footer-heading Newsletter
              form.form-inline(action='index.html', method='post', onsubmit='return false;')
                .form-group
                  label.sr-only(for='register-email') Your Email
                  .input-group
                    input#register-email.form-control(type='email', name='register-email', placeholder='Your Email..')
                    span.input-group-btn
                      button.btn.btn-primary(type='submit') Subscribe
              h4.footer-heading
                a(href='http://goo.gl/RcsdAh') AppUI - Frontend
              em
                span#year-copy
              |  &copy; Crafted with 
              i.fa.fa-heart.text-danger
              |  by 
              a(href='http://goo.gl/WCS84b') pixelcave
          // END Footer Links
      // END Footer
    // END Page Container
    // Scroll to top link, initialized in js/app.js - scrollToTop()
    a#to-top(href='#')
      i.fa.fa-arrow-up
    // Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL)
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script.
      !window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-2.1.1.min.js"%3E%3C/script%3E'));
    // Bootstrap.js, Jquery plugins and Custom JS code
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/plugins.js')
    script(src='js/app.js')
