header
  .container
    a.site-logo(ui-sref='home')
      i.fa.fa-star
      |  Brownie
      strong Points
    nav(data-topbar, role='navigation', ng-controller='NavCtrl')
      a.btn.btn-default.site-menu-toggle.visible-xs.visible-sm(href='#') Menu
      ul.site-nav(ng-show='!rootuser.username')
        li: a.active(ui-sref='home') Home
        li: a(ui-sref='register') Register
        li: a.featured(ui-sref='login')
            | Login &nbsp;
            i.fa.fa-arrow-right
      ul.site-nav(ng-show='rootuser.username')
          li: a.active(ui-sref='home') Home
          li
            a.site-nav-sub(href='#')
              i.fa.fa-angle-down.site-nav-arrow
              | Links
            ul
              li: a(ui-sref='dashboard') Dashboard
              li: a(ui-sref='messages') Inbox
              li: a(ui-sref='profile') Profile
              li: a(ui-sref='prizes') Prizes
              li: a(ui-sref='friends') Find Friends
              li: a(ng-click='logout()') Logout
          li.divider
            li: a#avatarlink(ui-sref='profile'): img#avatarimg(ng-src='{{rootuser.gravatar}}')
