.section-header.nine.columns.centered
  h1 {{mode | uppercase}}
  hr

.row
  .twelve.columns(ng-show='!friends.length')
    h4 Feeling lonely? &nbsp;
      a(ui-sref='users_list') Find your friends!
  .twelve.columns(ng-show='friends.length')
    #friends
      table.table-borderless.remove-margin-bottom(ng-cloak, style='width: 100%;')
        tbody
          tr(ng-repeat='f in friends | orderBy : "username"')
            td(style='width: 100px;'): a(ui-sref='friendships.detail({friendshipId:f.friendshipId})')
              img.img-circle.img-thumbnail.img-thumbnail-avatar(ng-src='{{f.gravatar}}', alt='{{f.username}}')
            td
              h5
                strong {{f.firstName}} {{f.lastName}}
              i.fa.fa-fw.fa-user
              |  {{f.username}}
              br
              i.fa.fa-fw.fa-envelope
              |  {{f.email}}
            td.centered
              ul.button-group.pull-right.push-right.round
                li: a.button.success.tiny.disabled(ng-click='add()', data-toggle='tooltip', title='Add Points')
                  i.fa.fa-plus &nbsp;
                li: a.button.alert.tiny.disabled(ng-click='subtract()', data-toggle='tooltip', title='Subtract Points')
                  i.fa.fa-minus &nbsp;
