.section-header.nine.columns.centered
  h1
.row
  .twelve.columns.centered
    .widget
      .widget-image.widget-image-sm
        img(src='../assets/img/bg-silver.png')
        .widget-image-content.text-center
          img.gravatar.img-circle.img-thumbnail.img-thumbnail-transparent.img-thumbnail-avatar-2x.push(ng-src='{{friend.avatar || friend.gravatar}}' alt='{{friend.username}}')
          h2.widget-heading.text-light
            strong {{friend.name}}
          h4.widget-heading.text-light-op
            em {{friend.username}}
      .widget-content.widget-content-full.widget-content-border
        .row.text-center
          .six.columns.push-inner-top-bottom
            h3.widget-heading
              small
                strong Points
              ul.button-group.centered.round
                li: a.button.success.tiny(ng-click=('showModal(\'#rewardModal\')'), data-toggle='tooltip', title='Reward')
                  i.fa.fa-lg.fa-plus
                li: a.button.alert.tiny(ng-click=('showModal(\'#punishModal\')'), data-toggle='tooltip', title='Punish')
                  i.fa.fa-lg.fa-minus
          .six.columns.push-inner-top-bottom
            h3.widget-heading
              small
                strong Prize
              ul.button-group.centered.round
                li: a.button.success.tiny(ng-click=('showModal(\'#addPrizeModal\')'), data-toggle='tooltip', title='Add Prize')
                  i.fa.fa-lg.fa-plus &nbsp;&nbsp;
                    i.fa.fa-lg.fa-gift
        .row.text-center
          .twelve.columns.push-inner-top-bottom
            h3.widget-heading
              small
                strong {{friend.wallet || 0}}
                |  Brownie Points
.row
  .six.columns
    .row
      .twelve.columns
        h2 Ledger
        hr
        .row
          .twelve.columns(ng-show='!transactions.length')
            h5.text-centered You have 0 updates.
          .twelve.columns(ng-show='transactions.length')
            #transactions
              table.table-borderless.remove-margin-bottom(ng-cloak, style='width: 100%;')
                thead
                  tr
                    th From
                    th Date
                    th Message
                    th Points
                tbody
                  tr(ng-repeat='t in transactions | orderBy : "date"')
                    td(style='width: 100px;')
                      img.img-circle.img-thumbnail.img-thumbnail-avatar(ng-src='{{t.fromAvatar || t.fromGravatar}}')
                    td
                      em {{moment(t.date).calendar()}}
                    td
                      h6 {{t.body}}
                    td.align-right
                      h6 {{t.points}}
  .six.columns
    .row
      .twelve.columns
        h2 Prizes
        hr
        .row(ng-cloak)
          .twelve.columns(ng-show='!prizes.length')
            h4.text-centered Create some prizes to cash in on your brownie points!
              a.button.success.tiny.round.right(ng-click=('showModal(\'#addPrizeModal\')'), data-toggle='tooltip', title='Add Prize')
                i.fa.fa-2x.fa-gift
          .twelve.columns(ng-show='prizes.length')
            #prizes(ng-cloak)
              table.table-borderless.remove-margin-bottom(ng-cloak, style='width: 100%;')
                thead
                  tr
                    th From
                    th Title
                    th Description
                    th Cost
                    th(ng-hide='!myId === p.fromId') Buy
                    th(ng-hide='myId === p.fromId') Delete
                tbody
                  tr(ng-repeat='p in prizes | orderBy : "date"')
                    td(style='width: 100px;')
                      img.img-circle.img-thumbnail.img-thumbnail-avatar-tiny(ng-src='{{p.fromAvatar || p.fromGravatar}}')
                    td
                      h6 {{p.title}}
                    td
                      em {{p.description}}
                    td.align-right
                      h6 {{p.cost}}
                    td.centered(ng-hide='!myId === p.fromId')
                      a.button.success.tiny.round(ng-click='buy(p)', data-toggle='tooltip', title='Buy Prize')
                        i.fa.fa-lg.fa-gift
                    td.centered(ng-hide='!myId === p.fromId')
                      a.button.alert.tiny.round(ng-click='nuke(p.prizeId)', data-toggle='tooltip', title='Delete Prize')
                          i.fa.fa-lg.fa-trash
include modals/reward
include modals/punish
include modals/add_prize
