.section-header.nine.columns.centered
  h1 {{mode | uppercase}}
  hr

.row
  .four.columns
    form(name='searchUserForm')
      fieldset
        legend
          i.fa.fa-search.fa-lg &nbsp; Find Friends
        label Enter your friend's email address...
          input#search(type='text', name='searchEmail', placeholder='friend@email.com', ng-model='searchEmail', autofocus)
          a.button.success.radius.tiny(ng-click='search(searchEmail)')
            i.fa.fa-envelope.fa-lg &nbsp; Find Friend
  .eight.columns
    h2 Search Results
    hr
    #results
      table.table-borderless.remove-margin-bottom
        tbody
          tr(ng-show='user.email')
            td(style='width: 100px;')
              img.img-circle.img-thumbnail.img-thumbnail-avatar(ng-src='{{user.avatar || user.gravatar}}', alt='{{user.username}}')
            td
              h5
                strong {{user.name}}
              i.fa.fa-fw.fa-user
              |  {{user.username}}
              br
              i.fa.fa-fw.fa-envelope
              |  {{user.email}}
            td.centered(style='width: 100px;')
              a.friend-btn.button.success.radius.tiny(ng-click='request(user.id)', data-toggle='tooltip', title='Send Friend Request')
                i.fa.fa-fw.fa-plus.fa-lg
