#login-container
  h1.h2.text-light.text-center.push-top-bottom.animation-slideDown
    i.fa.fa-star
    strong Welcome to BrowniePoints!
  .block.animation-fadeInQuickInv
    .block-title
      h2 {{mode | uppercase}}
  form#form-register
    .form-group
      .col-xs-12
        label(for='username') Username
        input#username.form-control(type='text', name='username', ng-model='user.username', placeholder='username', autofocus)
    .form-group(ng-show='mode === "register"')
      .col-xs-12
        label(for='email') Email
        input#email.form-control(type='email', name='email', placeholder='email address', ng-model='user.email')
    .form-group
      .col-xs-12
        label(for='password') Password
        input#password.form-control(type='password', name='password', placeholder='password', ng-model='user.password')
    .form-group.form-actions
      .col-xs-6
      .col-xs-6.text-right
        button.btn.btn-effect-ripple.btn-success(ng-click='submit()')
          i.fa.fa-plus
          |  Submit
