.section-header.nine.columns.centered
  h2 Welcome to BrowniePoints!

.row
  .six.columns.centered
    .signup-panel
      p.welcome {{mode | uppercase}}
      form
        .row.collapse(ng-show='mode === "register"')
          .small-2.columns
            span.prefix
              i.fa.fa-user
          .small-10.columns
            input#firstname(type='text', name='firstname', ng-model='user.first_name', placeholder='First Name', autofocus)
        .row.collapse(ng-show='mode === "register"')
          .small-2.columns
            span.prefix
              i.fa.fa-user
          .small-10.columns
            input#lastname(type='text', name='lastname', ng-model='user.last_name', placeholder='Last Name')
        .row.collapse
          .small-2.columns
            span.prefix
              i.fa.fa-user
          .small-10.columns
            input#username(type='text', name='username', ng-model='user.username', placeholder='username')
        .row.collapse(ng-show='mode === "register"')
          .small-2.columns
            span.prefix
              i.fa.fa-envelope
          .small-10.columns
            input#email(type='email', name='email', placeholder='email', ng-model='user.email')
        .row.collapse(ng-show='mode === "register"')
          .small-2.columns
            span.prefix
              i.fa.fa-picture
          .small-10.columns
            input#avatar(type='text', name='avatar', placeholder='http://your-avatar-picture.com', ng-model='user.avatar')
        .row.collapse
          .small-2.columns
            span.prefix
              i.fa.fa-lock
          .small-10.columns
            input#password(type='password', name='password', placeholder='password', ng-model='user.password')
      a.btn.btn-primary.btn-small.btn-raised.center(ng-click='submit()') Submit
      .row
        .small-12.columns.center
          h6(ng-show='mode === "register"')
            | Already have an account? &nbsp;
            a(ui-sref='login') Login here »
          h6(ng-show='mode === "login"')
            | Already have an account? &nbsp;
            a(ui-sref='register') Register here »
