.section-header.nine.columns.centered
  h1 {{mode | uppercase}}
  hr

.row
  .four.columns
    form(name='searchUserForm')
      fieldset
        legend
          i.fa.fa-search.fa-lg &nbsp; Find Friends
        label Enter your friend's email address...
          input#search(type='text', name='searchEmail', placeholder='friend@email.com', ng-model='searchEmail', autofocus)
          a.button.success.radius.tiny(ng-click='search(searchEmail)')
            i.fa.fa-envelope.fa-lg &nbsp; Find Friend
        //- a.button.primary.radius.tiny(ng-click='findAll()')
        //-   i.fa.fa-users.fa-lg &nbsp; List Users
  .eight.columns
    h2 Search Results
    hr
    #results
      table.table-borderless.remove-margin-bottom
        tbody
          tr
            td(style='width: 100px;')
              img.img-circle.img-thumbnail.img-thumbnail-avatar(ng-src='{{rootuser.gravatar}}', alt='{{rootuser.username}}')
            td
              h5
                strong {{rootuser.first_name}} {{rootuser.last_name}}
              i.fa.fa-fw.fa-user
              |  {{rootuser.username}}
              br
              i.fa.fa-fw.fa-envelope
              |  {{rootuser.email}}
            td.centered(style='width: 100px;')
              a.friend-btn.button.success.radius.tiny(ng-click='', data-toggle='tooltip', title='Add Friend')
                i.fa.fa-fw.fa-plus.fa-lg
          tr(ng-show='user.email')
            td(style='width: 100px;')
              img.img-circle.img-thumbnail.img-thumbnail-avatar(ng-src='{{user.gravatar}}', alt='{{user.username}}')
            td
              h5
                strong {{user.first_name}} {{user.last_name}}
              i.fa.fa-fw.fa-user
              |  {{user.username}}
              br
              i.fa.fa-fw.fa-envelope
              |  {{user.email}}
            td.centered(style='width: 100px;')
              form(name='friendRequestForm')
                input#userId(type='hidden', name='userId', ng-model='userId', value='{{rootuser.id}}')
                input#friendId(type='hidden', name='friendId', ng-model='friendId', value='{{user.id}}')
              a.friend-btn.button.success.radius.tiny(ng-click='friendRequest(friendship)', data-toggle='tooltip', title='Send Friend Request')
                i.fa.fa-fw.fa-plus.fa-lg
          //- tr(ng-repeat='user in users')
          //-   td(style='width: 100px;')
          //-     img.img-circle.img-thumbnail.img-thumbnail-avatar(ng-src='{{user.gravatar}}', alt='{{user.username}}')
          //-   td
          //-     h5
          //-       strong {{user.first_name}} {{user.last_name}}
          //-     i.fa.fa-fw.fa-user
          //-     |  {{user.username}}
          //-     br
          //-     i.fa.fa-fw.fa-envelope
          //-     |  {{user.email}}
          //-   td.centered(style='width: 100px;')
          //-     a.friend-btn.button.success.radius.tiny(ng-click='', data-toggle='tooltip', title='Add Friend')
          //-       i.fa.fa-fw.fa-plus.fa-lg
