//------- Vendor Stylesheets -------//
link(rel='stylesheet', href='/assets/style/css/bootstrap.min.css')
//- link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
//------- App Stylesheets -------//
link(rel='stylesheet', href='/index.css')
link(rel='stylesheet', href='/assets/style/css/plugins.css')
//- The themes stylesheet of this template (for using specific theme color in individual elements - must included last)
link(rel='stylesheet', href='/assets/style/css/themes.css')
script(src='views/templates/backend/js/vendor/modernizr-2.8.3.min.js')
