.section-header.nine.columns.centered
  h1 {{mode | uppercase}}
  hr

.row
  .four.columns
    .widget
      .widget-image.widget-image-sm
        img(src='../assets/img/bg-silver.png')
        .widget-image-content.text-center
          a.gravLink(href='https://en.gravatar.com/'): img.gravatar.img-circle.img-thumbnail.img-thumbnail-transparent.img-thumbnail-avatar-2x.push(ng-src='{{rootuser.gravatar}}' alt='Create your own Gravatar!')
          h2.widget-heading.text-light
            strong {{rootuser.first_name}} {{rootuser.last_name}}
          h4.widget-heading.text-light-op
            em {{rootuser.username}}
      .widget-content.widget-content-full.widget-content-border
        .row.text-center
          .large-6.small-6.columns.push-inner-top-bottom.border-right
            h3.widget-heading
              i.fa.fa-star.push
              br
              small
                strong {{rootuser.points}}
                |  Brownie Points
          .large-6.small-6.columns.push-inner-top-bottom
            h3.widget-heading
              i.fa.fa-group.push
              br
              small
                strong {{friends.length || 0}}
                |  Friends
  .eight.columns
    h2 Pending Friend Requests
    hr
    #friends
      table.table-borderless.remove-margin-bottom
        tbody
          tr(ng-repeat='friendship in friendships')
            td(style='width: 100px;')
              img.img-circle.img-thumbnail.img-thumbnail-avatar(ng-src='{{friendship.friendGravatar}}', alt='{{friendship.friendUsername}}')
            td
              h5
                strong {{friendship.friendFirstName}} {{friendship.friendLastName}}
              i.fa.fa-fw.fa-friend
              |  {{friendship.friendUsername}}
              br
              i.fa.fa-fw.fa-star
              |  {{friendship.friendPoints}}
            td.centered(style='width: 100px;')
              a.friend-btn.button.success.radius.tiny(ng-click='accept()', data-toggle='tooltip', title='Reject Friend Request')
                i.fa.fa-fw.fa-thumbs-o-up.fa-lg
              a.friend-btn.button.danger.radius.tiny(ng-click='deny()', data-toggle='tooltip', title='Deny Friend Request')
                i.fa.fa-fw.fa-thumbs-o-down.fa-lg
