.section-header.nine.columns.centered
  h1 {{mode | uppercase}}
  hr

.row
  .six.columns
    .row
      .twelve.columns
        h2 My Friends
    .row
      .twelve.columns
        table#friends
          thead
            tr
              th Username
              th Name
              th Points
          tbody
            tr(ng-repeat='friend in friends')
              td: a(ui-sref='friends.detail({friendId:friend.friend_id})') username
              td Name
              td #
