doctype html
//if IE 9
  html.no-js.lt-ie10  
// [if gt IE 9] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    title AppUI - Web App Bootstrap Admin Template
    meta(name='description', content='AppUI is a Web App Bootstrap Admin Template created by pixelcave and published on Themeforest')
    meta(name='author', content='pixelcave')
    meta(name='robots', content='noindex, nofollow')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1.0')
    // Icons
    // The following icons can be replaced with your own, they are used by desktop and mobile browsers
    link(rel='shortcut icon', href='img/favicon.png')
    link(rel='apple-touch-icon', href='img/icon57.png', sizes='57x57')
    link(rel='apple-touch-icon', href='img/icon72.png', sizes='72x72')
    link(rel='apple-touch-icon', href='img/icon76.png', sizes='76x76')
    link(rel='apple-touch-icon', href='img/icon114.png', sizes='114x114')
    link(rel='apple-touch-icon', href='img/icon120.png', sizes='120x120')
    link(rel='apple-touch-icon', href='img/icon144.png', sizes='144x144')
    link(rel='apple-touch-icon', href='img/icon152.png', sizes='152x152')
    link(rel='apple-touch-icon', href='img/icon180.png', sizes='180x180')
    // END Icons
    // Stylesheets
    // Bootstrap is included in its original form, unaltered
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // Related styles of various icon packs and plugins
    link(rel='stylesheet', href='css/plugins.css')
    // The main stylesheet of this template. All Bootstrap overwrites are defined in here
    link(rel='stylesheet', href='css/main.css')
    // Include a specific file here from css/themes/ folder to alter the default theme of the template
    // The themes stylesheet of this template (for using specific theme color in individual elements - must included last)
    link(rel='stylesheet', href='css/themes.css')
    // END Stylesheets
    // Modernizr (browser feature detection library)
    script(src='js/vendor/modernizr-2.8.3.min.js')
  body
    // Login Container
    #login-container
      // Register Header
      h1.h2.text-light.text-center.push-top-bottom.animation-slideDown
        i.fa.fa-plus
        strong Create Account
      // END Register Header
      // Register Form
      .block.animation-fadeInQuickInv
        // Register Title
        .block-title
          .block-options.pull-right
            a.btn.btn-effect-ripple.btn-primary(href='page_ready_login.html', data-toggle='tooltip', data-placement='left', title='Back to login')
              i.fa.fa-user
          h2 Register
        // END Register Title
        // Register Form
        form#form-register.form-horizontal(action='page_ready_register.html', method='post')
          .form-group
            .col-xs-12
              input#register-username.form-control(type='text', name='register-username', placeholder='Username')
          .form-group
            .col-xs-12
              input#register-email.form-control(type='text', name='register-email', placeholder='Email')
          .form-group
            .col-xs-12
              input#register-password.form-control(type='password', name='register-password', placeholder='Password')
          .form-group
            .col-xs-12
              input#register-password-verify.form-control(type='password', name='register-password-verify', placeholder='Verify Password')
          .form-group.form-actions
            .col-xs-6
              label.csscheckbox.csscheckbox-primary(data-toggle='tooltip', title='Agree to the terms')
                input#register-terms(type='checkbox', name='register-terms')
                span
              a(href='#modal-terms', data-toggle='modal') Terms
            .col-xs-6.text-right
              button.btn.btn-effect-ripple.btn-success(type='submit')
                i.fa.fa-plus
                |  Create Account
        // END Register Form
      // END Register Block
      // Footer
      footer.text-muted.text-center.animation-pullUp
        small
          span#year-copy
          |  &copy; 
          a(href='http://goo.gl/RcsdAh', target='_blank') AppUI 2.1
      // END Footer
    // END Login Container
    // Modal Terms
    #modal-terms.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h3.modal-title.text-center
              strong Terms and Conditions
          .modal-body
            h4.page-header
              | 1. 
              strong General
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.
            h4.page-header
              | 2. 
              strong Account
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.
            h4.page-header
              | 3. 
              strong Service
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.
            h4.page-header
              | 4. 
              strong Payments
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.
          .modal-footer
            .text-center
              button.btn.btn-effect-ripple.btn-sm.btn-primary(type='button', data-dismiss='modal') I&apos;ve read them!
    // END Modal Terms
    // Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL)
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script.
      !window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-2.1.1.min.js"%3E%3C/script%3E'));
    // Bootstrap.js, Jquery plugins and Custom JS code
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/plugins.js')
    script(src='js/app.js')
    // Load and execute javascript code used only in this page
    script(src='js/pages/readyRegister.js')
    script.
      $(function(){ ReadyRegister.init(); });
