// Activity
#profile-activity.tab-pane
  .timeline.block-content-full
    ul.timeline-list
      li
        .timeline-time just now
        .timeline-icon.themed-background-danger.text-light-op
          i.fa.fa-cutlery
        .timeline-content
          p.push-bit
            strong Time to eat
          p.push-bit Delicious fresh italian pizzas!
          .row
            .col-sm-6.col-md-4.block-section
              a(href='../assets/img/placeholders/photo11.jpg', data-toggle='lightbox-image')
                img(src='../assets/img/placeholders/photo11.jpg', alt='image')
            .col-sm-6.col-md-4.block-section
              a(href='../assets/img/placeholders/photo2.jpg', data-toggle='lightbox-image')
                img(src='../assets/img/placeholders/photo2.jpg', alt='image')
      li
        .timeline-time 10 min ago
        .timeline-icon.themed-background.text-light-op
          i.fa.fa-twitter
        .timeline-content
          p.push-bit
            strong + 4 New Followers
          p.push-bit Congrats, you&apos;ve got 4 new followers today!
          a(href='javascript:void(0)')
            img.img-circle.push-bit(src='/vendor/template/img/placeholders/avatars/avatar12.jpg', alt='Avatar')
          a(href='javascript:void(0)')
            img.img-circle.push-bit(src='/vendor/template/img/placeholders/avatars/avatar8.jpg', alt='Avatar')
          a(href='javascript:void(0)')
            img.img-circle.push-bit(src='/vendor/template/img/placeholders/avatars/avatar2.jpg', alt='Avatar')
          a(href='javascript:void(0)')
            img.img-circle.push-bit(src='/vendor/template/img/placeholders/avatars/avatar6.jpg', alt='Avatar')
      li
        .timeline-time 30 min ago
        .timeline-icon.themed-background-info.text-light-op
          i.fa.fa-facebook
        .timeline-content
          p.push-bit
            strong + 500 Brownie Points
          | This is great, keep it up!
      li
        .timeline-time 30 min ago
        .timeline-icon.themed-background-info.text-light-op
          i.fa.fa-facebook
        .timeline-content
          p.push-bit
            strong - 500 Brownie Points
          | Bummer!
      li
        .timeline-time 1 hour ago
        .timeline-icon.themed-background-amethyst.text-light-op
          i.fa.fa-file-pdf-o
        .timeline-content
          p.push-bit
            strong
              | New file uploaded
      li
        .timeline-time 2 days ago
        .timeline-icon.themed-background-warning.text-light-op
          i.fa.fa-coffee
        .timeline-content
          p.push-bit
            strong Coffee Time
          p.push-bit With some awesome fresh baked croissants!
          .row
            .col-sm-6.col-md-4.block-section
              a(href='../assets/img/placeholders/photo14.jpg', data-toggle='lightbox-image')
                img(src='../assets/img/placeholders/photo14.jpg', alt='image')
      li
        .timeline-time 5 days ago
        .timeline-icon.themed-background-creme.text-light-op
          i.gi.gi-cogwheel
        .timeline-content
          p.push-bit
            strong App Update
      li
        .timeline-time 1 week ago
        .timeline-icon.themed-background-success.text-light-op
          i.fa.fa-smile-o
        .timeline-content
          p.push-bit
            strong Thank you and Welcome!
          p.push-bit
            | It&apos;s great to have you on board!
