.section-header.nine.columns.centered
  h1 {{mode | uppercase}}

.row
  .col-md-4.col-lg-3
    .widget
      .widget-image.widget-image-sm
        img(src='../assets/img/placeholders/photo1@2x.jpg', alt='image')
        .widget-image-content.text-center
          a.gravLink(href='https://en.gravatar.com/'): img.gravatar.img-circle.img-thumbnail.img-thumbnail-transparent.img-thumbnail-avatar-2x.push(ng-src='{{rootuser.gravatar}}' alt='Create your own Gravatar!')
          h2.widget-heading.text-light
            strong {{rootuser.first_name}} {{rootuser.last_name}}
          h4.widget-heading.text-light-op
            em {{rootuser.username}}
      .widget-content.widget-content-border
        .row.text-center
          .col-xs-6
            h3.widget-heading
              i.gi.gi-star.text-success.push
              br
              small
                strong {{rootuser.points}}
                |  Brownie Points
          .col-xs-6
            h3.widget-heading
              i.gi.gi-group.text-primary.push
              br
              small
                strong {{users.length || 0}}
                |  Connections
  .col-md-8.col-lg-9
    include connections

