@primary:         #5ccdde;
@info:            #5cafde;
@success:         #afde5c;
@warning:         #deb25c;
@danger:          #de815c;
@light:           #f9f9f9;
@dark:            #454e59;
@black:           #000000;
@white:           #ffffff;
@gray1:           #eeeeee;
@gray2:           #ebeef2;
@gray3:           #dddddd;
@gray4:           #dae0e8;
@gray5:           #cccccc;
@muted:           #999999;
